#game-initial{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrow {
    display:flex;
    align-items: center;
}

.arrow img{
    width: 80px;
}

#character-select-img{
    display: flex;
    align-items: center;

    padding: 50px;
    border-radius: 20px;
    background: rgba(37, 42, 43, 0.5)
}

#character-select-img  img{
    width: 200px;
}

#button-initial{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 288px;
    height: 106px;

    color: #FFFEFB;
    font-size: 30px;
    font-family: 'Slackey', cursive;
    background: #FF8819;
    width: 18%;
    height: 13%;
    border: none;
    border-radius: 40px;
    border-bottom: 5px solid #cc6d13;
    animation: buttonScale 1s infinite;
    top: 85%;
    left: 40%;
}

#button-initial:active{
    border-bottom: 2px solid #cc6d13;
}

#button-initial:hover {
    background: #fc9433;
}

.arrow:hover, #button-initial:hover{
   cursor: url("../images/cursor-1.png"), auto;
}